<div id="navbar" >
    <div id="logo-wrap">
        <img src='assets/menu_white.svg' alt=''/>
    </div>
        <a id="employees">HRM</a>
        <div id="container">
            <a >
                <span>Employees</span>

            </a>
            <a>
                <span>Contracts</span>
            </a>
            <a>
                <span>Challenges</span>
            </a>
            <a>
                <span>Departments</span>
            </a>
            <a>
                <span>Configuration</span>
            </a>
        </div>
        <a id='logout' (click)="logout()">
            Logout
        </a>

</div>