<div style="min-width: 1920px;min-height: 1080px; background-image: url('https://wallpaperplay.com/walls/full/e/5/3/181223.jpg');">



    <table class="table table-dark">
        <tr>
          <th *ngFor="let column of headers">
            {{column}}
          </th>
    
         
        </tr>
    
        <tr *ngFor="let row of data">
          
          <td *ngFor="let column of headers">
    
            {{row[column]}}
    
          </td>
        </tr>
        
    
     
    
      </table>
    <br>
    <br>
    
    
</div>