
<br>
<br>
<br>
<br>
<br>
<div class="container">
<form class="form-signin">
  <br>
  <h1>Login</h1>
  <br>
  <br>
  <br>
  <div class="row">
    <div class="col-12">
    <button (click)="login()" class="btn btn-lg btn-google btn-block text-uppercase btn-outline" href="#"><img src="https://img.icons8.com/color/16/000000/google-logo.png"> SignIn Using Google</button> 
      </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <button (click)="gotophone()" class="btn btn-lg btn-primary btn-block" type="submit">Sign in Using Phone</button>
    </div>
  </div>
</form>
</div>