<!--- Image Slider -->
<div id="slides" class="carousel slide" data-ride="carousel">
	<ul class="carousel-indicators">
		<li data-target="#slides" data-slide-to="0" class="active"></li>
		<li data-target="#slides" data-slide-to="1"></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
	</ul>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="../../assets/img/spec1.jpg">
			<div class="carousel-caption">
				<h1 class="display-2">The Optical SHOPPE</h1>
				<h3>E-Store</h3>
				<button type="button" class="btn btn-outline-light btn-lg">Explore</button>
				<button type="button" class="btn btn-primary btn-lg">Shop Now</button>
			</div>
        </div>
        <div class="carousel-item">
			<img src="../../assets/img/spec2.png">
        </div>
		<div class="carousel-item">
			<img src="../../assets/img/spec3.png">
        </div>
        <div class="carousel-item">
			<img src="../../assets/img/spec4.jpg">
		</div>
	</div>
</div>