<div style="min-width: 1920px;min-height: 1080px; background-image: url('https://wallpaperplay.com/walls/full/e/5/3/181223.jpg');">

    <div id="medbutton"><button style="width: 500px;height: 100px;" type="button" (click)="gotoMC()" class="btn btn-info">MedicalCenters</button></div>


<br>

   <div id="docbutton"><button type="button" style="width: 500px;height: 100px;" (click)="gotoDoctors()" class="btn btn-info">Doctors</button></div>

    <div id="signbutton"><button type="button" style="width: 500px;height: 100px;" (click)="gotoSignIn()" class="btn btn-info">Sign In</button></div>

  


    <div id="deptbutton"><button type="button" style="width: 500px;height: 100px;" (click)="gotoDept()" class="btn btn-info">Departments</button></div>
<br>
    


</div>














